.word{
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    border-top: 2px solid rgb(54, 156, 54);
}

.head{
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

.score{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    text-align: right;
}

.originalWord{
    text-align: center;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    text-align: left;
    font-size: 12px;
}