.word{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgb(54, 156, 54);
}

.head{
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

.score{
  text-align: left;
  padding-left: 20px;
}

.originalWord{
    padding: 15px 0;
    text-align: center;
    font-size: 12px;
}